nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: var(--padding-nav);
    background: rgba(235, 235, 236, 0.16);
    z-index: 10;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .nav-links.desktop {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-right: 2rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .button {
    margin-right: 1rem;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    color: var(--text-color);
  }
  
  /* Mobile Fullscreen Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .menu-content {
    background-color: var(--background-color);
    width: 100%;
    padding: 3rem 2rem;
    border-radius: 0 0 10px 10px;
  }
  
  .menu-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .menu-content ul li a {
    font-size: 1.8rem;
    color: var(--text-color);
    text-decoration: none;
  }
  
  .close-icon {
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    color: var(--text-color);
  }
  
  /* Mobile behavior */
  @media (max-width: 768px) {
    .nav-links.desktop {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  
    .nav-container {
      justify-content: flex-end;
    }
  
    .button {
      margin-right: 0.8rem;
    }
  }
  