.projects {
  padding: 3rem 2rem;
  max-width: 1300px;
  margin: 0 auto;
}

.projects h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: #3d78df;
  font-size: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;  /* Um por linha */
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: row;  /* Alterado para manter o layout horizontal */
  gap: 2rem;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.project-info {
  flex: 0 0 30%;  /* Ocupa 30% da largura */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-left: 1.5rem;  /* Ajuste para mover a descrição um pouco para a direita */
  margin-top: 1rem;  /* Mover um pouco para baixo */
}

.project-info h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;  /* Move o título um pouco para baixo */
}

.project-info p {
  margin-bottom: 1rem;
  color: #333;
}

.tech-stack {
  display: flex;
  justify-content: start;
  gap: 0.8rem;
  margin-bottom: 1.8rem;
  flex-wrap: wrap;
}

.tech-tag {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.75rem;
  backdrop-filter: blur(4px);
}

.project-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start; /* Move os botões para a direita */
}

.btn-source {
  padding: 0.6rem 1.5rem;
  background: #3d78df;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn-source:hover {
  background: rgba(61, 120, 223, 0.9);
  transform: translateY(-2px);
}

.btn-github {
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 1.5rem;
  background: #333;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn-github .github-icon {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}

.btn-github:hover {
  background: rgba(51, 51, 51, 0.8);
  transform: translateY(-2px);
}

.project-video {
  flex: 0 0 70%;  /* O vídeo ocupa 70% da largura */
  max-width: 800px;
  width: 100%;
}

.project-video iframe {
  width: 100%;
  height: 500px;
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .project-card {
    flex-direction: column;  /* Empilhar os elementos em telas menores */
  }

  .project-info {
    flex: 0 0 100%;  /* Em telas menores, ocupa toda a largura */
    padding: 1rem;
  }

  .project-video {
    height: 400px;
  }
}

@media (max-width: 640px) {
  .project-video {
    height: 300px;
  }

  .project-info {
    padding: 1rem;
    margin-top: 1.5rem; /* Ajuste para mais espaço em telas pequenas */
  }
}
